@import '../../../styles/var';
@import '../../../styles/mixins';

.contact {
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__text--normal {
    font-style: normal;
  }

  &__address-part {
    color: #fff;
  }

  &__heading,
  &__description,
  &__address-part {
    margin-bottom: 30px;
  }

  &__title {
    @include font('Roboto', 700);
    font-size: 20px;
  }

  &__heading,
  &__phone-link,
  &__phone,
  &__street {
    @include font('Roboto', 700);
  }

  &__heading {
    font-size: 36px;
  }

  &__description,
  &__mail-link {
    color: #fff;
    @include font('Roboto', 400);
    font-size: 16px;
  }

  &__description,
  &__street,
  &__mail {
    color: $primary-blue;
  }

  &__description {
    min-width: 550px;
  }

  &__mail-link,
  &__phone-link {
    display: block;
    font-size: 20px;
  }

  &__phone-title {
    padding-right: 30px;
  }

  &__street-title,
  &__mail-title {
    padding-right: 60px;
  }

  &__phone {
    font-size: 16px;
    color: $primary-yellow;
  }
}

.form {
  &__message {
    resize: none;
  }
}
