@import '../../../../styles/var';
@import '../../../../styles/mixins';

.learn-more-btn {
  @include button();

  color: $primary-gray;
  background-color: $primary-yellow;

  &:hover,
  &:focus {
    background-color: $secondary-yellow;
  }

  /// --- portrait

  //@include max-width-portrait($lg) {
  //  width: 150px;
  //  height: 65px;
  //  line-height: 65px;
  //}

  //@include max-width-portrait($md) {
  //  width: 120px;
  //  height: 45px;
  //  line-height: 45px;
  //}

  // --- landscape ---

  //@include max-height-landscape($sm) {
  //  font-size: 14px;
  //  width: 110px;
  //  height: 40px;
  //  line-height: 40px;
  //}
}
