@import '../../../styles/var';
@import '../../../styles/mixins';

.text-point {
  @include max-width($sm) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.text-point__text {
  position: relative;
  line-height: 30px;
}

.text-point__img {
  width: 30px;
  height: 30px;
  margin-right: 20px;

  @include max-width($sm) {
    margin-right: 0;
  }
}
