@import '../../../styles/var';
@import '../../../styles/mixins';

.slider {
  max-height: 100vh;
  height: 100vh;
  overflow: auto;

  &__outer-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
  }

  &__content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    text-align: center;
  }

  &__header {
    color: $primary-yellow;
    @include font('Montserrat Alternates', 600);
    font-size: 58px;
    margin-bottom: 60px;

    // --- portrait ---

    @include max-width-portrait($xl) {
      font-size: 48px;
    }

    @include max-width-portrait($lg) {
      font-size: 42px;
    }

    @include max-width-portrait($md) {
      font-size: 36px;
    }

    @include max-width-portrait($sm) {
      font-size: 28px;
    }

    @include max-width-portrait($xs) {
      font-size: 18px;
      margin-bottom: 20px;
    }

    // --- landscape ---

    @include max-width-landscape($xl) {
      font-size: 32px;
      margin-bottom: 10px;
    }

    @include max-width-landscape($lg) {
      font-size: 28px;
    }

    @include max-width-landscape($md) {
      font-size: 26px;
    }

    @include max-width-landscape($sm) {
      font-size: 24px;
    }

    @include max-height-landscape($sm) {
      font-size: 24px;
      margin-bottom: 30px;
    }

    @include max-height-landscape($xs) {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }

  &__description {
    @include font('Roboto', 400);
    font-size: 18px;
    line-height: 170.2%;
    max-width: 930px;
    margin: 0 auto;
    margin-bottom: 60px;

    // --- portrait ---

    @include max-width-portrait($xl) {
      font-size: 24px;
    }

    @include max-width-portrait($lg) {
      font-size: 24px;
    }

    @include max-width-portrait($md) {
      font-size: 14px;
    }

    @include max-width-portrait($xs) {
      font-size: 14px;
      margin-bottom: 20px;
    }

    // --- landscape ---

    @include max-height-landscape($sm) {
      font-size: 14px;
      margin-bottom: 30px;
    }

    @include max-height-landscape($xs) {
      font-size: 12px;
      margin-bottom: 10px;
    }
  }

  &__btns-wrapper {
    display: flex;
    justify-content: center;

    @include max-width(319.98px) {
      display: none;
    }
  }

  &__img {
    max-height: 100vh;
    filter: brightness(70%);
  }
}
