@import '../../src/styles/var';
@import '../../src/styles/mixins';

.service {
  &__img {
    height: 100vh;
    filter: brightness(70%);
  }

  &__substrate {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
  }

  &__heading,
  &__subtitle,
  &__description {
    text-align: center;
    margin: 0 auto;
  }

  &__heading {
    margin-bottom: 15px;
    @include font('Roboto', 700);
    font-size: 48px;

    @include max-width($md) {
      font-size: 28px;
    }

    @include max-width($sm) {
      font-size: 24px;
    }
  }

  &__subtitle {
    margin-bottom: 30px;
    color: $primary-yellow;
    @include font('Roboto', 700);
    font-size: 28px;

    @include max-width($md) {
      font-size: 20px;
    }

    @include max-width($sm) {
      font-size: 16px;
    }
  }

  &__description {
    color: $primary-blue;
    max-width: 930px;
    line-height: 1.5;
    @include font('Roboto', 400);
    font-size: 18px;
    margin-bottom: 30px;
  }

  &__btns {
    display: flex;
    justify-content: center;
  }

  &__wrapper {
    padding-top: 30px;
    background-color: $primary-gray;
  }

  &__text {
    color: $primary-blue;
    line-height: 1.5;
    @include font('Roboto', 400);
    font-size: 16px;
    margin: 0 auto 30px auto;
    max-width: 930px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    border: 1px solid $primary-yellow;
    max-width: 400px;
    padding: 30px;
    border-radius: 20px;
    margin-right: 30px;
    margin-bottom: 30px;
    width: 50%;

    @include max-width($lg) {
      width: 100%;
      margin-right: 0;
    }
  }

  &__item-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    @include max-width($sm) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__icon {
    width: 60px;
    height: 60px;
    margin-right: 30px;

    @include max-width($sm) {
      margin: 0 0 30px 0;
    }
  }

  &__item-title-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    @include font('Roboto', 700);
    font-size: 28px;
    border-bottom: 1px solid $primary-yellow;
    padding-bottom: 10px;

    @include max-width($sm) {
      font-size: 20px;
    }
  }

  &__item-number {
    color: $underline_gray;
  }

  &__item-subtitle {
    color: $primary-blue;
  }

  &__point-item {
    margin-bottom: 15px;
  }

  &__item-wrapper {
    @include max-width($sm) {
      margin: 0 auto;
    }
  }

  &__gallery {
    text-align: center;
  }

  &__gallery-link {
    @include button();

    background-color: $primary-red;
    color: #fff;
    margin-bottom: 30px;

    &:hover {
      background-color: $secondary-red;
    }
  }
}