@import '../../../styles/var';
@import '../../../styles/mixins';

.about-us {
  text-align: center;
  padding-top: 15px;
  position: relative;
  @include font('Roboto', 400);
  font-size: 16px;

  &__heading {
    display: block;
    margin-bottom: 30px;
  }

  &__text-point-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 30px auto;
    justify-content: space-around;
    text-align: start;

    @include max-width($xl) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__text-point-item {
    width: 465px;
    margin-bottom: 30px;
    position: relative;
    margin-right: -40px;

    &:nth-child(odd) {
      margin-right: 30px;
    }

    @include max-width($xl) {
      margin-right: 0 !important;
    }

    @include max-width($sm) {
      width: 100% !important;
    }
  }

  &__card-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    @include max-width($xl) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__card-item {
    position: relative;
    max-width: 340px;
    border: 2px solid $primary-yellow;
    border-radius: 20px;
    padding: 90px 15px 20px;

    &::after,
    &::before {
      position: absolute;
      width: 50px;
      height: 50px;
      top: 20px;
    }

    &::after {
      @include font('Abril Fatface', 400);
      font-size: 42px;
      color: $underline_gray;
      right: 20px;
    }

    &::before {
      content: '';
      left: 50%;
      transform: translate(-50%, 10px);
    }

    &:nth-child(1) {
      &::after {
        content: '01';
      }

      &::before {
        background-image: url('../../../../static/images/icons/screw.png');
      }
    }

    &:nth-child(2) {
      &::after {
        content: '02';
      }

      &::before {
        background-image: url('../../../../static/images/icons/screwdriver.png');
      }
    }

    &:nth-child(3) {
      &::after {
        content: '03';
      }

      &::before {
        background-image: url('../../../../static/images/icons/electric-plug.png');
      }
    }

    @include max-width($xl) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }

  &__card-title {
    @include font('Montserrat Alternates', 600);
    font-size: 24px;
    max-width: 250px;
    margin: 0 auto;
    margin-bottom: 15px;
    line-height: 1.7;

    @include max-width($sm) {
      font-size: 16px;
    }
  }

  &__card-description {
    @include font('Roboto', 400);
    line-height: 1.7;
    color: $primary-blue;
  }

  &__callback-btn {
    //margin: 0 auto;
    margin-bottom: 30px;
  }
}
