@import '../../../../styles/var';
@import '../../../../styles/mixins';

.call-btn {
  @include button();
  background-color: $primary-red;
  color: #fff;

  &:hover {
    background-color: $secondary-red;
  }
}
