@import '../../../../src/styles/var';
@import '../../../../src/styles/mixins';

.banner {
  background-image: url('../../../../static/images/blog/bg.jpg');
  background-attachment: fixed;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    padding: 180px 15px 30px 15px;
    font-size: 42px;
    text-transform: uppercase;
    color: $primary-yellow;
    @include font('Philosopher', 700);
    letter-spacing: 5px;

    @include max-width($md) {
      padding: 70px 15px;
      letter-spacing: 3px;
      font-size: 32px;
    }

    @include max-width($sm) {
      padding: 70px 15px 20px 15px;
      font-size: 24px;
    }
  }
}