@import 'var';
@import 'mixins';

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

body {
  background-color: #161616;
  color: #fff;
}

.swiper-button-disabled {
  pointer-events: all !important;
}

.swiper-wrapper {
  box-sizing: border-box;
}

.swiper-button-next,
.swiper-button-prev {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  opacity: 1 !important;
  position: relative !important;
  cursor: pointer !important;

  @media (max-width: 992px) {
    display: none !important;
  }
}

.swiper-button-next {
  transform: rotate(180deg);
  right: auto !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-prev {
  left: auto !important;
}

.swiper-pagination-bullet {
  border: 4px solid #fff;
  width: 15px !important;
  height: 15px !important;
  background-color: transparent !important;
  position: relative !important;
  margin: 0 auto;

  @include max-width-portrait($sm) {
    border: 2px solid #fff;
    width: 10px !important;
    height: 10px !important;
  }

  @include max-height-landscape($sm) {
    width: 10px !important;
    height: 10px !important;
    border: 2px solid #fff;
  }
}

.swiper-pagination {
  margin-bottom: 115px;

  @include max-width-landscape($xl) {
    margin-bottom: 10px;
  }

  @include max-width-portrait($sm) {
    margin-bottom: 10px;
  }

  @include max-height-landscape($sm) {
    margin-bottom: 10px;
  }
}

.services {
    &__wrapper {
      background-color: $primary-gray;
    }
}

.partners {
  &__logos {
    background-color: $primary-yellow;
  }

  &__text {
    max-width: 750px;
    margin: 30px auto 30px auto;
    line-height: 1.5;
    color: $primary-blue;
    text-align: center;
    @include font('Roboto', 400);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &__item {
    min-width: 20%;
    padding: 20px;
  }
}

.mail__icon,
.place__icon,
.phone__icon {
  margin-right: 10px;
  transition: fill $delay;
  vertical-align: bottom;
}