$primary-gray: #1d1f23;
$secondary-gray: rgba(62, 62, 62, 0.25);
$hover-gray: #333333;

$primary-yellow: #ffc962;
$secondary-yellow: #f7ac22;
$primary-red: #e03a3e;
$secondary-red: #e42225;
$primary-blue: #aab6cd;
$underline_gray: rgba(145, 150, 157, 0.37); // 91969D

$delay: 0.3s;
$slider-arrow: -125px;


$xs: 320px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
