@import '../../../styles/var';
@import '../../../styles/mixins';

.title {
  text-align: center;
  padding-top: 60px;
  position: relative;
  @include font('Roboto', 400);
  font-size: 16px;
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  flex-basis: content;
}

.section-subtitle {
  @include font('Roboto', 400);
  margin-bottom: 25px;
  position: relative;
  display: inline-block;

  &::before {
    content: '';
    background-image: url('../../../../static/images/icons/hammer.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -8px;
    left: -50px;

    @include max-width(319.98px) {
      display: none;
    }
  }
}

.section-title {
  @include font('Roboto', 700);
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 30px;
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 1px solid $underline_gray;
  position: relative;

  &::before {
    content: '';
    width: 70px;
    position: absolute;
    border-bottom: 4px solid $primary-yellow;
    bottom: 0;
    left: 0;

    @include max-width($xl) {
      width: 50px;
    }

    @include max-width($lg) {
      width: 40px;
    }
  }

  @include max-width($xl) {
    font-size: 24px;
  }

  @include max-width($lg) {
    font-size: 18px;
  }

  @include max-width($sm) {
    font-size: 16px;
  }
}
