@import '../../../../styles/var';
@import '../../../../styles/mixins';

.accordion {
  &__title {
    @include font('Roboto', 700);

    @include max-width($sm) {
      font-size: 16px;
    }
  }

  &__table-price {
    margin-bottom: 30px;
  }

  &__btn {
    font-size: 16px;
    background-color: transparent;
    color: #fff;
    text-align: left;
    font-weight: 700;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: none;
  }

  &__icon-wrapper {
    width: 100%;
    max-width: 60px;
    max-height: 46px;

    @include max-width(400px) {
      display: none;
    }
  }

  &__item {
    background-color: $secondary-gray;
    border-radius: 20px;
    padding: 20px;
    transition: all $delay;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &:hover {
      background-color: $hover-gray;
    }
  }

  &__item-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    padding: 0 20px;

    @include max-width($xl) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__expand-icon {
    transition: transform $delay;
    transform: rotate(180deg);

    @include max-width($xxl) {
      width: 40px;
      height: 40px;
    }

    @include max-width($sm) {
      width: 30px;
      height: 30px;
    }
  }

  &__item-content {
    height: 0;
    overflow: hidden;
    transition: height ease 0.2s;
  }

  &__image {
    max-width: 500px;
    margin-right: 30px;
    border-radius: 20px;

    @include max-width($xl) {
      margin-bottom: 20px;
      margin-right: 0;
    }
  }

  &__description {
    @include font('Roboto', 400);
    font-size: 16px;
    max-width: 610px;
    text-align: left;
    color: $primary-blue;
    line-height: 1.7;

    @include max-width($xl) {
      text-align: center;
    }
  }

  &__price {
    border-spacing: 20px 0;
    margin-bottom: 30px;
  }

  &__thead {
    background-color: $primary-yellow;
  }

  &__learn-more-btn {
    text-align: center;
    border-radius: 10px;
    @include font('Roboto', 700);
    font-size: 16px;
    transition: all $delay;
    background-color: $primary-red;
    color: $primary-gray;
    color: #fff;
    padding: 20px;
    display: block;
    margin: 0 auto 5px auto;
    max-width: 170px;

    &:hover {
      background-color: $secondary-red;
    }
  }
}

thead.service__thead .service__price-cell {
  padding: 10px;
  color: $primary-gray;
}

th.service__price-cell {
  width: 50%;
  text-align: center;
  @include font('Roboto', 400);
  font-size: 16px;
  font-weight: 400 !important;
  padding: 20px 10px;
  border-bottom: 1px solid $primary-yellow;
}

.service__item.service__item--active .service__expand-icon {
  transform: rotate(0);
}
