@import '../../styles/var';
@import '../../styles/mixins';

.service {
  &__img {
    height: 100vh;
    filter: brightness(70%);
  }

  &__substrate {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
  }

  &__heading,
  &__subtitle,
  &__description {
    text-align: center;
    margin: 0 auto;
  }

  &__heading {
    margin-bottom: 15px;
    @include font('Roboto', 700);
    font-size: 48px;

    @include max-width($md) {
      font-size: 28px;
    }

    @include max-width($sm) {
      font-size: 24px;
    }
  }

  &__subtitle {
    margin-bottom: 30px;
    color: $primary-yellow;
    @include font('Roboto', 700);
    font-size: 28px;

    @include max-width($md) {
      font-size: 20px;
    }

    @include max-width($sm) {
      font-size: 16px;
    }
  }

  &__description {
    width: 100% !important;
    color: $primary-blue;
    max-width: 930px;
    line-height: 1.5;
    font-size: 18px;
    margin-bottom: 30px;
  }

  &__btns {
    display: flex;
    justify-content: center;
  }
}