@import '../../../styles/var';
@import '../../../styles/mixins';

.learn_more_btn {
  @include button();
  background-color: $primary-yellow;
  color: $primary-gray;
  margin-right: 150px;

  &:hover {
    background-color: $secondary-yellow;
  }
}
