@import '../../styles/var';
@import '../../styles/mixins';

.slider {
  max-height: 100vh;
  height: 100vh;
  overflow: auto;

  &__content_wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    display: flex;
  }

  &__content {
    text-align: center;
  }

  &__header {
    color: $primary-yellow;
    @include font('Montserrat Alternates', 600);
    font-size: 58px;
    margin-bottom: 60px;
  }

  &__description {
    @include font('Roboto', 400);
    font-size: 18px;
    line-height: 170.2%;
    max-width: 930px;
    margin: 0 auto;
    margin-bottom: 60px;
  }

  &__btns_wrapper {
    display: flex;
    justify-content: center;
  }

  &__img {
    max-height: 100vh; //????
    filter: brightness(70%);
  }

  &__btn {
    border-radius: 10px;
    @include font('Roboto', 700);
    font-size: 18px;
    width: 175px;
    height: 70px;
    transition: all $delay;
  }

  &__learn_more_btn {
    background-color: $primary-yellow;
    color: $primary-gray;
    margin-right: 150px;

    &:hover {
      background-color: $secondary-yellow;
    }
  }

  &__phone_call_btn {
    background-color: $primary-red;
    color: #fff;

    &:hover {
      background-color: $secondary-red;
    }
  }
}
