@import '../../styles/var';
@import '../../styles/mixins';

.slider {
  max-height: 100vh;
  height: 100vh;
  overflow: auto;

  &__outer_wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  &__content_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    text-align: center;
    margin-right: 30px;
  }

  &__header {
    color: $primary-yellow;
    @include font('Montserrat Alternates', 600);
    font-size: 58px;
    margin-bottom: 60px;
  }

  &__description {
    @include font('Roboto', 400);
    font-size: 18px;
    line-height: 170.2%;
    max-width: 930px;
    margin: 0 auto;
    margin-bottom: 60px;
  }

  &__btns_wrapper {
    display: flex;
    justify-content: center;
  }

  &__img {
    max-height: 100vh; //????
    filter: brightness(70%);
  }

  &__item {
    /* for bem*/
  }
}
